<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Google</title>
    <link rel="stylesheet" href="static/css/Fake Google.css">
</head>
<body>
<div class="container">
    <div class="header">
        <a href="https://mail.google.com/mail/?authuser=0&ogbl" target="_blank">Gmail</a>
        <a href="https://www.google.si/imghp?hl=sl&authuser=0&ogbl" target="_blank">Slike</a>
        <a href="https://www.google.si/intl/sl/about/products" target="_blank">
            <img border="0"
                 alt="Googlove aplikacije"
                 src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_apps_48px-512.png"
                 width="20"
                 height="20">
        </a>
        <a href="https://accounts.google.com/SignOutOptions?hl=sl&continue=https://www.google.com/" target="_blank">
            <img border="0"
                 alt="Račun google"
                 src="https://w7.pngwing.com/pngs/802/786/png-transparent-google-account-google-search-customer-service-google-logo-login-button-blue-sphere-car-rental-thumbnail.png"
                 width="30"
                 height="30">
        </a>
    </div>
    <div class="main">
        <div class="FakeGoogle">
            <div class="Fake">
                <div class="F">F</div>
                <div class="a">a</div>
                <div class="k">k</div>
                <div class="e">e</div>
            </div>
            <div class="Google">
                <div class="G">G</div>
                <div class="o">o</div>
                <div class="o2">o</div>
                <div class="g2">g</div>
                <div class="l">l</div>
                <div class="e2">e</div>
            </div>
        </div>
        <div class="forum1">
            <form autocomplete="on">
                <input type="text" placeholder="Search..."/>
            </form>
        </div>
        <div class="buttons">
            <button type="button">Iskanje Google</button>
            <form action="https://www.google.com/doodles" target="_blank">
                <button>
                    Klik na srečo
                </button>
            </form>
        </div>
    </div>
    <div class="footer1">
        <p>Slovenija</p>
    </div>
    <div class="footer2">
        <div class="leva">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjn9vPu1rj-AhX-TEEAHTJjCxQQkNQCCBI&url=https%3A%2F%2Fabout.google%2F%3Futm_source%3Dgoogle-SI%26utm_medium%3Dreferral%26utm_campaign%3Dhp-footer%26fg%3D1&usg=AOvVaw0Qx3zsPVkJRxP-D-mg5iyf"
               target="_blank">Predstavitev</a>
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjn9vPu1rj-AhX-TEEAHTJjCxQQkdQCCBM&url=https%3A%2F%2Fwww.google.com%2Fintl%2Fsl_si%2Fads%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpafoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpafooter%26fg%3D1&usg=AOvVaw13rKsUBYzzsU8vBHxCpnOG"
               target="_blank">Oglaševanje</a>
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjn9vPu1rj-AhX-TEEAHTJjCxQQktQCCBQ&url=https%3A%2F%2Fwww.google.com%2Fservices%2F%3Fsubid%3Dww-ww-et-g-awa-a-g_hpbfoot1_1!o2%26utm_source%3Dgoogle.com%26utm_medium%3Dreferral%26utm_campaign%3Dgoogle_hpbfooter%26fg%3D1&usg=AOvVaw2SJ4zwRVXKyZr53qG9dm4K"
               target="_blank">Posel</a>
            <a href="https://google.com/search/howsearchworks/?fg=1" target="_blank">Kako deluje Google</a>
        </div>
        <div class="desna">
            <div class="linki">
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjn9vPu1rj-AhX-TEEAHTJjCxQQ8awCCBU&url=https%3A%2F%2Fpolicies.google.com%2Fprivacy%3Fhl%3Dsl%26fg%3D1&usg=AOvVaw3tPXvZNV9N3pQ5xAYdGQ5c"
                    target="_blank">Zasebnost</a>
                <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=webhp&cd=&cad=rja&uact=8&ved=0ahUKEwjn9vPu1rj-AhX-TEEAHTJjCxQQ8qwCCBY&url=https%3A%2F%2Fpolicies.google.com%2Fterms%3Fhl%3Dsl%26fg%3D1&usg=AOvVaw3Y3WUryLoEhDGrr5y5j5ps"
                   target="_blank">Pogoji</a>
            </div>
            <div class="dropup">
                <p class="dropbtn">Nastavitve</p>
                <div class="dropup-content">
                    <a href="https://www.google.com/preferences?hl=sl&fg=1">Nastavitve iskanja</a>
                    <a href="https://www.google.com/advanced_search?hl=sl&fg=1">Napredno iskanje</a>
                    <a href="https://myaccount.google.com/yourdata/search?utm_source=googlemenu&fg=1&pli=1">Vaši podatki
                        v iskanju Google</a>
                    <a href="https://myactivity.google.com/product/search?utm_source=google&hl=sl&fg=1">Zgodovina
                        iskanja</a>
                    <a href="https://support.google.com/websearch/?visit_id=638179542818168172-3599800480&hl=sl&rd=2#topic=3378866">Pomoč
                        pri iskanju</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>