<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latinski pregovori</title>
    <link rel="stylesheet" href="static/css/Latinski pregovori_style.css">
</head>
<body>
<div class="container">
    <div class="header"><h1><b>LATINSKI PREGOVORI</b></h1></div>
    <div class="central">
        <div class="l-sidebar">
        </div>
        <div class="main">
            <ol type="a">
                <li><h2>Acta, non verba.</h2>
                    <i>Dejanja, ne besed.</i></li>
                <li><h2>Brevis a natura vita nobis dana est; at memoria bene redditae vitae sempiterna.</h2>
                    <i>Narava nam je dala kratko življenje, vendar je večen spomin na dobro preživeto življenje.</i>
                </li>
                <li><h2>Carpe diem.</h2>
                    <i>Užij dan</i></li>
                <li><h2>De gustibus et coloribus non est disputandum.</h2>
                    <i>O barvah in okusih se ne razpravlja.</i></li>
                <li><h2>Experientia est optima rerum magistra.</h2>
                    <i>Izkušnja je najboljši učitelj.</i></li>
                <li><h2>Festina lente!</h2>
                    <i>Hiti počasi!</i></li>
                <li><h2>Gratia gratiam parit.</h2>
                    <i>Zahvala rodi zahvalo.</i></li>
                <li><h2>Hoc factis homini, quid cupis esse tibi.</h2>
                    <i>Delaj drugim, kar želiš, da drugi delajo tebi.</i></li>
                <li><h2>Is dives vocatur, qui sua sorte contentus est.</h2>
                    <i>Bogat je tisti, ki je zadovoljen s svojo usodo.</i></li>
                <li><h2>...</h2>
                    <i>...</i></li>
                <li><h2>...</h2>
                    <i>...</i></li>
                <li><h2>Laborare omnia vincit.</h2>
                    <i>Delo vse premaga.</i></li>
                <li><h2>Magna venit nulli sine magno fama labore.</h2>
                    <i>Nihče ne pride do velike slave brez velikega truda.</i></li>
                <li><h2>Nam et ipsa scientia potestas est.</h2>
                    <i>Tudi samo znanje je moč.</i></li>
                <li><h2>Omne initium difficile.</h2>
                    <i>Vsak začetek je težak.</i></li>
                <li><h2>Pulsate et aperietur vobis.</h2>
                    <i>Trkajte in odprlo se vam bo.</i></li>
                <li><h2>Quidquid discis, tibi discis.</h2>
                    <i>Karkoli se učiš, se učiš zase.</i></li>
                <li><h2>Repetitio est mater studiorum.</h2>
                    <i>Ponavljanje je mati študija.</i></li>
                <li><h2>Suae quisque fortunae faber est.</h2>
                    <i>Vsak je svoje sreče kovač.</i></li>
                <li><h2>Tutum omnia legere, non omnibus credere.</h2>
                    <i>Varno je o vsem brati, ne pa tudi vsemu verjeti.</i></li>
                <li><h2>Una salus victis, nullam sperare salutem.</h2>
                    <i>Kdor tvega, zmaga.</i></li>
                <li><h2>Vivere tota vita discendum est.</h2>
                    <i>Človek se uči do smrti.</i></li>
            </ol>
            <br>
            <img src="https://latinskipregovori.weebly.com/uploads/2/6/9/2/26921487/750268.jpg?532"
                 alt="Errare humanum est." height="600" width="850">
        </div>
        <div class="r-sidebar">
        </div>
    </div>
    <div class="footer"><a href="https://sl.wikiquote.org/wiki/Latinski_pregovori" target="_blank">Vir</a></div>
</div>
</body>
</html>